body {
	margin: 0 15px 15px;
	font-family: 'overpass', sans-serif;
	text-align: center;
	background-color:rgb(253, 238, 232);
	}

section{
	margin: 0 70px 70px;
}
h1{
	position: center; 
	color: black;
	font-size: 45px;
	line-height: 10%;
}

img{
	height: 400px;
	width: 400px;
	border-radius: 5px;
	object-fit: cover;
	object-position: center;
}

div{
	background-color: rgb(253, 238, 232);
	text-align: center;
	box-shadow: 1px 1px 10px 2px rgb(0, 0, 0/40%)
}




